@using System.Security.Claims
@model BoardModel
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered no-wrap">
                        <colgroup>
                            <col style="width:100px" />
                            <col style="width:auto" />
                        </colgroup>
                        <tbody>
                            <tr>
                                <td>제목</td>
                                <td>@Model.Title</td>
                            </tr>
                            <tr>
                                <td>내용</td>
                                <td>@Html.Raw(Model.Contents)</td>
                            </tr>
                            <tr>
                                <td>작성자</td>
                                <td>@Model.RegUsername (@Model.RegDate.ToString("yyyy-MM-dd"))</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-right">
                        @if (Model.RegUser == Convert.ToUInt32(User.FindFirstValue(ClaimTypes.NameIdentifier)))
                        {
                            <button id ="btnU" class="btn btn-sm btn-dark">수정</button>
                            <button id ="btnD" class="btn btn-sm btn-danger">삭제</button> 

                            <form id="form1" method="post" action="/home/boardedit">
                                <input type="hidden" name="idx" value=@Model.Idx />
                                <input type="hidden" name="type" value="" />
                            </form>

                            <script>
                                $("#btnU").click(function () {
                                    $("#form1 input[name=type]").val("U");
                                    $("#form1").submit();
                                });
                                
                                $("#btnD").click(function () {
                                    $("#form1 input[name=type]").val("D");
                                    $("#form1").submit();
                                });
                            </script>
                        }
                    </div>
                </div>                  
            </div>
        </div>
    </div>
</div>